<footer style="background:rgb(10, 10, 34);; color:#ccc; padding:40px 20px; font-family:Inter, sans-serif;">
    
    <div class="footer-container" style="max-width:1200px; margin:auto; display:flex; justify-content:space-between; flex-wrap:wrap; gap:30px;">
        
        <div style="flex:1; min-width:220px;">
             <a href="/" class="logo">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="DeeplOOker">
             </a>
            <p style="font-size:14px; line-height:1.6; margin-top:20px;">
DeepLooker detects AI-generated images, identifies their source models, and analyzes videos using advanced AI to ensure content authenticity.            </p>
        </div>

        <div style="flex:1; min-width:180px;">
            <h3 style="color:white; margin-bottom:12px;">Quick Links</h3>
            <ul style="list-style:none; padding:0; font-size:14px; text-decoration:underline">
                <li><a href="/home" style="color:#ccc; text-decoration:none;">Home</a></li>
                <li><a href="/" style="color:#ccc; text-decoration:none;">AI Detector</a></li>
                <li><a href="/model2" style="color:#ccc; text-decoration:none;">AI model Detector</a></li>
                <li><a href="/vid" style="color:#ccc; text-decoration:none;">AI Video Detector</a></li>
                <li><a href="/about" style="color:#ccc; text-decoration:none;">About</a></li>
            </ul>
        </div>

        <div style="flex:1; min-width:200px;">
            <h3 style="color:white; margin-bottom:12px;">Contact</h3>
            <p style="font-size:14px;">Email: ashirah1612@gmail.com</p>
            <p style="font-size:14px;">AI Research Project</p>
        </div>

    </div>

    <div style="text-align:center; margin-top:30px; border-top:1px solid #333; padding-top:15px; font-size:13px;">
        © 2026 DeepLooker. Developed by AshiRah
    </div>

</footer>

<style>
@media (max-width:768px){
.footer-container{
flex-direction:column !important;
text-align:center;
}
}
</style>